*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	padding-top: 80px;
}

/*header styling*/
.header{
	width: 100%;
	background-color: #111;
	padding: 15px 40px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;

}

 html{
	scroll-padding-top: 70px;
 }
#Home,
#About,
#Work,
#Contact{
	height: 600px;
	scroll-margin-top: 80px;
}

/*Navigation menu*/
.nav-menu{
	list-style: none;
	display: flex;
	gap: 30px;
}

/*Navigation links*/
.nav-menu a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 500px;
	transition: color 0.3s ease;
}


/*Hover effect*/
.nav-menu a:hover{
	color: #00bcd4;
}

.first-section{
	padding-top: 50px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Logo*/
.logo{
	width: 60px;
	height: auto;
	border-radius: 8px;
}

h1, h2, p {
	text-align: center;
}

	
.contact-container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

/*Title and bio*/
.home-container-left{
	display: flex;
	
	align-items: start;
	gap: 20px;
}

/*Personal image styling*/
 img{
	width: 250px;
	border-radius: 5px;

}

.contact-left-title h2{
	font-weight: 600px;
	font-size: 40px;
	margin-bottom: 5px;
}

.contact-left-title hr{
	border: none;
	width: 120px;
	height: 5px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: purple;
}

.contact-inputs{
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500px;
	border-radius: 50px;
	color: black;
}

.contact-left textarea{
	height: 140px;
	padding-top: 15px;
	border-radius: 20px;
}

.contact-inputs:focus{
	border: 2px solid purple;
}

.contact-inputs::placeholder{
	color: #a9a9a9;
}
	
.contact-left button{
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: #fff;
	gap: 10px;
	border: none;
	border-radius: 50px;
	background: linear-gradient(270deg, purple, blue);
	cursor: pointer;
}

.contact-right img{
	width: 250px;
	border-radius: 5px;
}
	
h1{
	color: #ff4700;
	margin: 10px;
}
.img1{
	background-color:#f0ba00; 
}
	


ul li {
	float: left;
}
ul li a{
	display: block;
	color:black;		
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	}
	

	
@media (max-width: 800px){
	.contact-inputs{
		width: 80vw;
	}
	.contact-right{
		display: none;
	}
}
@media(max-width: 768px){
	.navbar{
		flex-direction: column;
		gap: 15px;
	}
}
	
	
	<!--rgba(240, 186, 0)<--yello(#f0ba00)--
	rgba(255, 71, 0)<--orange(#ff4700)--
	rgba(0, 84, 146)<!--green(#005492)-->